body {
    margin: 0px;
    padding: 0px;
}
#print, #print-progress {
    margin-top: 20px;
}
#flashcards {
    font-family: garamond;
    font-size: 11pt;
}
#flashcards-container {
    margin-bottom: 100px;
}
#flashcards .card-table {
    border-collapse: collapse;
    page-break-after: always;
    margin: 0px auto;
}
#flashcards .card-table td {
    border: 1px solid silver;
    width: 3.75in;
    height: 2.35in;
}
#flashcards .card-container {
    padding: 10px;
    word-break: break-word;
}
#flashcards .card-table-questions td {
    vertical-align: middle;
    font-size: 14px;
}
#flashcards .card-table-answers td {
    vertical-align: top;
    text-align: left;
    font-size: 14px;
}
#flashcards .card-title {
    height: 1.25in;
    width: 100%;
}
#flashcards .card-table-questions .card-title span {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
}
#flashcards .card-long-true {
    font-size: 9pt;
}
#flashcards .card-number {
    text-align: right;
    font-size: 11pt;
}
#flashcards .page-number-true {
    position: absolute;
    margin-top: 0px;
    margin-left: 150px;
    color: silver;
    font-size: 10px;
}
#flashcards .card-table-answers .page-number-true {
    margin-left: 310px;
}
#flashcards .page-number-false {
    display: none;
}
@media print {
    .content {
        margin-top: 0px;
    }
    #instructions {
        display: none;
    }
    .navbar {
        display: none;
    }
    .container {
        width: auto;
    }
    footer {
        display: none;
    }
    #flashcards-container {
        margin-bottom: 0px;
    }
}
