body {
    margin: 0px;
    padding: 0px;
    font-family: garamond;
    font-size: 11pt;
}
#instructions {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 728px;
    min-width: 280px;
    margin: 0px auto;
    font-family: arial;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
